*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lora", serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: absolute;
}
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color:beige;
    width: 100%;
    z-index: 1000;
}
.navbar a{
    font-size: 1.5rem;
    
    text-decoration: none; 
    margin-left: 2.5rem;
}
.logo{
    margin-left: 100px; 
    width: 150px;
}
#check{
    display: none;
}
.icons{
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
    position: absolute;
    right: 5%;
    display: none;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.links:hover{
    color: rgb(92, 86, 86);
}
#home{
    margin-top: 0;
}
.home-img{
    height: 700px;
    width: 100%;
    background-image: url('./images/imag5.jpg');
    background-size: cover;
}
.home-content{
    text-align: center;
    background-color: beige;
}
#iname{
    font-size: 50px;
    
}
#about{
    margin: 15% 8% 0px 2%;
}
.sectionHead{
    margin-top: 0px;
    text-align: center;
}
.mainHead{
    font-size: 40px;
}
.subHead{
    
    margin-top: 10%;
    font-size: 30px;
    
}
.aboutImage{
    width: 8000px;
}
.aboutBody{
    margin-top: 50px;
    display: grid;
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    
}
.img1{
    width: 100%;
    z-index: 0;
}
.aboutContent{
    font-size: 20px;
    text-align: justify;
}
#aboutpara{
    margin-top: 5%;
    line-height: 2rem;
}

#services{
    margin: 15% 8% 0px 2%;
}
.servicecontent{
    position: relative;
    margin-left: 100px;
    /* display: flex;
    flex-wrap: nowrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
}
.scon{
    width: 350px;
    height: auto;
    padding: 10px;
    align-items: center;
    /* position: absolute; */
    margin-top: 100px; 
    line-height: 1.5rem;
}
#servimg{
    width: 400px;
    height: 500px;
}
#div1{
    margin-top: 250px;
    margin-right: 200px;
    /* margin-left: 500px; */
}
/* #div2{
    margin-left: 1100px;
}  */
.servhead{
    font-size: 30px;
    
}
.servicecontent1{
    margin-top: 10%;
    margin-left: 100px;
    /* position: relative;
    
    display: flex;
    flex-wrap: nowrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
}
/* #div3{
    margin-left: 550px;
} */
#portfolio{
    margin: 15% 8% 0px 6%;
}
.portimg{
    width: 500px;
    height: 550px;
}
.gallery{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    width: 80%;
}
#contact{
    margin: 20% 0px 0px 0px;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: nowrap;
}
#contactsec
{
    margin: 10% 0px 0px 8%;
}

.contactsection1{
   
    margin-top: 10%;
    display: flex;
    flex-wrap: nowrap;   /* justify-content: center; 
    align-items: center;   */
}
.information{
    margin-top: 1.3rem;
}
.infoBox{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.infoBox>span{
    margin-left: 1rem;
}
.divlog{
    width: 10%;
}
.logo1{
    width: 100%;
}
.divcon{
    margin-top: 2%;
    width: 20%;
}
#logohead{
    font-size: 30px;
    font-weight: bold;
}
.iconCollections{
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid 2px; */
    display: flex;
    
    margin: 0px 10px;
}
.brands{
    color: black;
    font-size: 2rem;
}
.brands:hover{
    color: rgb(228, 210, 46); 
}

button:hover {
    background-color: #4cae4c;
}
.content1{
    display: flex;

}
.contform{
    width: 70%;
    margin-top: 5%;
    
}
input{
    height: 50px;
    width: 300px;
}
.inp{
    height: 50px;
    width: 605px;
}
.submit-form{
    padding: 50px;

}
input, textarea{
    padding: 10px;
}
button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    margin-left: 60%;
}

button:hover {
    background-color: #4cae4c;
}
footer{
    width: 100%;
    height: 10%;
    background-color: antiquewhite;
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.upArrow{
    float: right;
    margin-top: -10px;
}
html{
    scroll-behavior: smooth;
}

@media (max-width:1200px) {
    .icons{
        display: flex;
    }
    #closeIcon{
        display: none;
    }
    #check:checked~.icons #menuIcon{
        display: none;
    }
    #check:checked~.icons #closeIcon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: beige;
        display: none;
    }
    #check:checked~.navbar{
        display: block;
    }
    .navbar a{
        display: block;
        text-align: center;
        font-size: 1.1rem;
        margin: 1.5rem 0px;
    }
    
    .aboutBody{
        flex-wrap: wrap;
    }
    .servicecontent{
        align-items: center;
        display: block;
        flex-wrap: wrap;
    }
    
    .servicecontent1{
        align-items: center;
        grid-template-columns: 1fr;
    }
    #portfolio{
        align-items: center;
    }
    .portimg{
        width: 220px;
        height: 270px;
    }
    #contact{
        flex-wrap: wrap;
    }
    h2{
        align-items: normal;
    }
    p{
        font-size: 1rem;
        line-height: 2;
    }
    
}
